* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  background-color: black;
  color: white;
  font-family: "Poppins", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 7%;
  padding-bottom: 0.8rem;
  background-color: rgba(1, 1, 1, 0.699);
  border-bottom: 1px solid #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.navbar .username span {
  font-weight: 1px;
  line-height: 1px;
  font-size: 1rem;
  font-style: italic;
  position: relative;
  left: 1.5rem;
  bottom: 2.5px;
}

.navbar .navbar-img img {
  position: relative;
  top: 2px;
  right: 28rem;
  padding: 0;
  margin: 0;
  width: 50px;
  border-radius: 100px;
}
.navbar .navbar-nav {
  margin-left: 3rem;
}

.navbar .navbar-nav a {
  color: white;
  display: inline-block;
  font-size: 1.2rem;
  margin-left: 2rem;
}

.navbar .navbar-nav a:hover {
  color: #b6ada2;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.3rem;
  border-bottom: 0.1rem solid #b6ada2;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(1);
}

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(img/content-bg3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  justify-content: right;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(1, 1, 3, 1),
    rgba(255, 255, 255, 0) 70%
  );
}

.hero .hero-img {
  margin-right: 9rem;
  margin-top: 5rem;
}

.hero .hero-img img {
  width: 130%;
}

.landing .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
  position: relative;
  bottom: 30rem;
  margin-left: 5rem;
}

.landing .content h1 {
  text-shadow: 2px 2px black;
}

.landing .content p {
  text-align: justify;
  max-width: 40rem;
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.2;
  text-shadow: 2px 2px black;
}

.landing .content .cta {
  display: inline-block;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  margin-top: 1.3rem;
  padding: 0.5rem 2rem;
  color: black;
  background-color: rgb(245, 245, 245);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 1, 0.5);
}

.landing .content a:hover,
a:active {
  background-color: #bebbbb;
}

.about {
  position: relative;
  bottom: 10rem;
  text-align: center;
  margin-bottom: 3rem;
}

.about h3 {
  font-size: 1.4rem;
  text-shadow: 2px 2px black;
}

.about .about-school {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  justify-content: center;
}

.about .about-school img {
  width: 200px;
  border-radius: 50%;
  margin: 0 2rem;
}

.footer .contact {
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 3rem;
}

.footer .contact a {
  color: #727272c4;
  font-size: 1.5rem;
}
